
/* Contact Container */
.contact-container {
    display: flex;
    max-width: 600px;
    margin: 50px auto;
    padding: 0 20px ;
}

.contact-details, .contact-form {
    flex: 1;
    padding: 20px;
}

.contact-details h2, .contact-form h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.contact-details p {
    margin-bottom: 5px;
}

.headquarters {
    font-weight: bold;
    margin-top: 20px;
}

/* Form Styles */
.form-row {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

label {
    width: 65px;
    text-align: right;
    padding-right: 5px;
    font-size: 14px;
    padding-top: 8px;
}

input, textarea {
    flex: 1;
    padding: 4px;
    border: 3px solid ;
    border-radius: 10px;
    border-color: #ed747e;
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    height: 32px;
}

textarea {
    height: 80px;
    resize: none;
}


.form-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

button {
    padding: 8px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 90%;
}

.submit-btn {
    background-color: #64a766;
    border: 3px solid ;
    border-radius: 10px;
    border-color: #43815e;
    color: white;
}

.reset-btn {
    background-color: #ed747e;
    color: white;
    border: 3px solid ;
    border-radius: 10px;
    border-color: #a54e55;
  
}


